<div ng-init="httpget()">
    <h3>{{waitMessage}}</h3>
    <h3 class="" style="">List of movies</h3>
    <span style="padding-left: 10px">Search: </span><input ng-model="search">
    <p></p>
    <div><a class="btn btn-danger btn-lg" role="button" href="#/">Cancel</a></div>


    <div><a class="btn btn-success btn-lg" role="button" href="#/upComingMovies">Upcoming Movies</a></div>
        <div ng-repeat="movie in movies  | filter:search" class="row" >
            <br class="">
            <div class="col-xs-1 col-xs-3 text-center" style="right:50px; top:20px">
                <!--<a class="story-title" id="" href="#/movies/{{movie.id}}"><img alt="" src="img/{{movie.id}}.jpg" style="width:180px;height:260px"></a>-->
                <a class="story-title" id="" href="#/movies/{{movie.Id}}"><img alt="" src="{{movie.Poster}}" style="width:180px;height:260px"></a>
            </div>
            <div class="col-xs-10 col-xs-9" id="" style="left:80px; top:10px">
                <h3 class="" style="color:#ffffff">{{movie.Name}}</h3>
                

                <div class="row">
                    <div class="col-xs-9 col-xs-10">
                        <span class="" id="" style="color:#0c0c27; font-size: 16px">{{movie.Description}}</span>
                    </div>
                    <div> </div>
                    <div class="col-xs-3"></div>
                </div>
                <br class="">
                <br class="">
            </div>
        </div>
        <!--/container-->
        <div class="container"></div>
        <div class="row"></div>
</div>