<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered" ng-init="updateBuy()">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td><b>Type</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdCenter">Time</td>
                    <td></td>
                    <td class="tdRight"><b>Price</b></td>
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0">
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'Name'">
                    <td>{{item.Name}}</td>
                    <td>{{item.type}}</td>
                    <td class="tdCenter">
                        <div>
                            {{item.inventoryCount}}
                        </div>
                    </td>
                    <td class="tdCenter">
                        <div>
                            {{item.time}}
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-success" type="button" style="float: right"
                                    ng-disabled="item.inventoryCount < 0"
                                    ng-click="cart.addItem(item.Id, item.Name, item.price, +1, item.type, item.time)">
                                +
                            </button>
                            <button class="btn btn-inverse" type="button" style="float: right"
                                    ng-disabled="item.inventoryCount < 1"
                                    ng-click="cart.addItem(item.Id, item.Name, item.price, -1, item.type, item.time)">
                                -
                            </button>
                        </div>
                    </td>
                    <td class="tdRight">{{item.price * item.inventoryCount | currency}}</td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td></td>
                    <td></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="col-md-12">
            <div>
                <b>Please enter your email address to continue with purchase:</b>
                <label name="label">
                    <input class="span3 text-center" type="email" name="input" ng-model="emailInfo.text" ng-pattern="emailPattern">
                </label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-block btn-primary"
                            ng-disabled="!emailInfo.text || cart.getTotalCount() < 1"
                            ng-click="updatePurchase(emailInfo.text, cart.items)"
                            onclick="window.location.href = 'default.html#/confirmation'">
                            <!--ng-click="updatePurchase(cart.items, "pankaj.sherchan@selu.edu")"-->
                            
                        <i class="icon-ok icon-white" /> Purchase
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block"
                            onclick="window.location.href='default.html#/movieList'">
                        <i class="icon-chevron-left" /> Back
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-danger"
                            ng-click="cart.clearItems()"
                            ng-disabled="cart.getTotalCount() < 1">
                        <i class="icon-trash icon-white" /> clear cart
                    </button>
                </div>
                <div>
                    <img ng-src="{{image}}" />
                </div>
            </div>
        </div>
        <div>
            <h3 style="text-align:center">{{waitMessage}}</h3>
        </div> 
    </div>
</div>

