<div ng-init="upcoming()">
    <h3>{{waitMessage}}</h3>
    <h1 class="" style="">List of Upcoming Movies</h1>
    <span style="padding-left: 10px">Search: </span><input ng-model="search">
    <p></p>
    <div>
        <div class="row">
            <div style="float:right">
                <div>
                    <b>Click Below to View the Items in Your Cart</b>
                </div>
                <div>
                    <a href="default.html#/cart" title="View the Shopping Cart">
                        <i class="icon-shopping-cart" />
                        <b>- View Cart - {{cart.getTotalCount()}}</b> items, Total: <b>{{cart.getTotalPrice() | currency}}</b>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3"><a class="btn btn-success btn-lg" role="button" href="#/movieList">Back</a></div>
                    <div class="col-md-3"><a ng-click="cart.clearItems()" class="btn btn-danger btn-lg" role="button" href="#/">Cancel</a></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="movie in movies  | filter:search" class="row">
        <br class="">
        <div class="col-xs-1 col-xs-3 text-center" style="right:50px; top:20px">
            <!--<a class="story-title" id="" href="#/movies/{{movie.id}}"><img alt="" src="img/{{movie.id}}.jpg" style="width:180px;height:260px"></a>-->
            <a class="story-title" id="" ><img alt="" src="{{movie.Poster}}" style="width:180px;height:260px"></a>
        </div>
        <div class="col-xs-10 col-xs-9" id="" style="left:80px; top:10px">
            <h3 class="" style="color:#ffffff">{{movie.Name}}</h3>


            <div class="row">
                <div class="col-xs-9 col-xs-10">
                    <span class="" id="" style="color:#0c0c27; font-size: 16px">{{movie.Description}}</span>
                </div>
                <div> </div>
                <div class="col-xs-3"></div>
            </div>
            <br class="">
            <br class="">
            <div class="row">
                <div class="col-xs-9 col-xs-10">
                    <label ng-repeat="showtime in movie.showtimes" class="row" ng-form="subForm">
                        <b class="" id="" style="color:#0c0c27; font-size: 16px"> <span>Date: {{showtime.StartDate | date: mm/dd/yyyy}} - Time: {{showtime.StartTime}} - Screen Number:  {{showtime.Screen.ScreenNumber}}</span></b>
                    </label>
                </div>
                <div> </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </div>
    <!--/container-->
    <div class="container"></div>
    <div class="row"></div>
</div>