<<div class="jumbotron">
    <h1>Cinematic Management</h1>
    <p class="lead">Welcome to the Portal.</p>
    <p>Where <em>you</em> control the horizontal and the vertical.</p>
</div>
<div class="row">
    <div class="col-md-4">

        @*<a id="GetCaptcha" href="javascript:void(0)">Refresh</a>*@
        <img id="CaptchaImg" alt="Captcha" src="@Url.Action("CaptchaImage" , new {qrcode ="movieinfor" })" style="" />
        @*<img src="@Url.Action("Image", new { agha = "foo bar" })" alt="" />*@
    </div>
    <div class="col-md-4">
        <h3>Having Problems?</h3>
        <p>Please contact us at 1-(800)-NOT-FREE for technical support.</p>
    </div>
</div>
