<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup"></div>
            </div>
            <div class="col-md-10 col-md-offset-4 col-md-pull-3 get-it">
                <h1>Movie Kiosk</h1>
                <p>
                    Welcome to the Movie Kiosk. This is our easy to use application to purchase tickets.
                    It will only take a few short steps and then you will be on your way.
                </p><br /><br /><br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-left text-info">Please click the "Get Started" button to begin your transaction. </p><br /><br />
                            </div>
                            <div class="col-md-6">
                                <p class="text-justify text-info">You may click cancel at anytime to cancel your order.</p><br /><br />
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-3"><a class="btn btn-primary btn-lg" role="button" href="#/movieList">List of movies</a></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div></div>
                <div></div>
                <p></p>
            </div>
        </div>
    </div>
</div>