<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.sp16-p3-g8mobileapp">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Sp16-p3-g8MobileApp">
	</application>
</manifest>
