<p>
    <h3 style="text-align:center">{{waitMessage}}</h3>
</p><br />
<p> <!--ng-init="httpget()"-->
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="6" ng-hide="buy"></td>
    </tr>
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Location</b>
        </td>
        <td>
            <b>Price</b>
        </td>
        <td>
            <b>Time</b>
        </td>
    </tr>
    <tr>
        <td class="tdCenter">
            <button class="btn btn-block btn-success"
                    ng-click=""
                    ng-disabled="">
                <i class="icon-shopping-cart icon-white" /> Select Movie
            </button>
        </td>
    </tr>
</table>
